@page
@model Tp3Test2.Pages.CouvrePlancher.createModel
@{
}
<div class="text-center">
	<h1>Nouveau produit</h1>
	<hr />
</div>

@if (Model.messageErreur.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<small>@Model.messageErreur</small>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="post">
	<div class="row mb-2">
		<label class="col-sm-3 col-form-labek">Id</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Id" value="@Model.Pl.Id" />
		</div>
	</div>

	<div class="row mb-2">
		<label class="col-sm-3 col-form-labek">Type</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="type" value="@Model.Pl.Type" />
		</div>
	</div>

	<div class="row mb-4">
		<label class="col-sm-3 col-form-labek">MaterialPrice</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="MaterialPrice" value="@Model.Pl.MaterialPrice" />
		</div>
	</div>
	<div class="row mb-4">
		<label class="col-sm-3 col-form-labek">MainDoeuvrePrice</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="MainDoeuvrePrice" value="@Model.Pl.MainDoeuvrePrice" />
		</div>
	</div>

	<div class="row mb-2">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Ajouter</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Produit/Index" role="button">Annuler</a>
		</div>
	</div>

</form>